nav{
    height: 600px;
    width: 600px;
    border: solid;
    display: flex;
   justify-content:start;
    align-items:center;
  /* flex-direction:column-reverse;*/
    gap: 30px;
    

    
    
    
    
}
.ell1{
    height: 50px;
    width: 50px;
    background-color: rgb(219, 100, 237);
    border: solid;
    border-radius: 5px;


}
.ell2{
     height: 50px;
     width:50px;
     background-color: cornflowerblue;
     border: solid;
     border-radius: 5px;
     order: 0;
    


}
.ell3{
     height: 50px;
     width: 50px;
      background-color: rgb(179, 51, 95);
      border: solid;
      border-radius: 5px;



}
.ell4{
     height: 50px;
     width: 50px;
      background-color: rgb(104, 46, 165);
      border: solid;
     border-radius: 5px;



}