.block, .inline {
    width:100px ;
    height:100px ;
    font-size: 30px;

}
.block{
    background-color: rgb(43, 196, 196);
    display: inline;
    visibility:hidden;
    display: inline-flexbox;

}
.inline{
    background-color: #a8a82a;
    display: block;
    
}